<div class="jumbotron">
    <h1>
        Ms. Converter
    </h1>
    <p class="lead">
        Ms. Converter is a REST API built on .NET for converting various Microsoft Office formats to and from HTML.
    </p>
    <div>
        @using (Html.BeginForm(
            "Word", "api", 
            FormMethod.Post, 
            new { enctype = "multipart/form-data" }))
        {
            <div class="custom-file-upload">
                <input id="file" name="uploaded" type="file" />
            </div>
            <br />
            <input type="submit" value="Upload" class="btn upload-field btn-primary" />
            <br />
            <label class="file-name">

            </label>
        }
    </div>
</div>

﻿   
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
